:root {
  --background-deep: linear-gradient(135deg,#76cec1,#07627b);
  --background-light: rgba(255,251,210,.1);
  --color-primary: #07627b;
  --color-secondary: #fffbd2;
  --color-secondary_dark: #ffc1a6;
  --color-accent: #f75f00;
  --color-accent_secondary: #76cec1;
}

@font-face {
  font-family: "Signika";
  src: url('../fonts/Signika_Negative/SignikaNegative-Bold.ttf');
}
@font-face {
  font-family: "Rainshow-condensed";
  src: url('../fonts/rainshow-condensed/Rainshow\ Condensed.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika";
  user-select: none;
  font-size: 18px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-image: var(--background-deep);
  color: var(--color-secondary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wobble {
  display: inline-block;
  color: var(--color-secondary_dark);
  animation: jumpy 3s linear;
}

.header {
  font-size: 134px;
}

.title {
  font-size: 60px;
}

.text-regular-small {
  font-size: 15px;
}

.text-regular {
  font-size: 20px;
}

.page {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.default {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: reveal .6s linear;
}

.section-default {
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .header {
    font-size: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .section-default {
    padding: 10px;
  }
}

@media screen and (max-width: 820px) {
  .header {
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 50px;
  }
}

/* Animation */
@-webkit-keyframes jumpy {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jumpy {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


@keyframes reveal {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 1;
  }
}
@-webkit-keyframes reveal {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 1;
  }
}