:root {
  --background-deep: linear-gradient(135deg,#76cec1,#07627b);
  --background-light: rgba(255,251,210,.1);
  --color-primary: #07627b;
  --color-secondary: #fffbd2;
  --color-secondary_dark: #ffc1a6;
  --color-accent: #f75f00;
  --color-accent_secondary: #76cec1;
}

@font-face {
  font-family: "Signika";
  src: url('../fonts/Signika_Negative/SignikaNegative-Bold.ttf');
}
@font-face {
  font-family: "Rainshow-condensed";
  src: url('../fonts/rainshow-condensed/Rainshow\ Condensed.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika";
  user-select: none;
  font-size: 18px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wobble {
  display: inline-block;
  color: var(--color-secondary_dark);
  animation: jumpy 3s linear;
}

.header {
  font-size: 134px;
}

.default {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page:nth-child(odd) {
  background-image: var(--background-deep);
  color: var(--color-secondary);
}

.page:nth-child(even) {
  background-color: var(--background-light);
  color: var(--color-primary);
}

.section-default {
  max-width: 1200px;
  width: 100%;
}

.section > :nth-child(even) > :nth-child(odd) {
  flex-direction: row-reverse;
}

/* Animation */
@-webkit-keyframes jumpy {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jumpy {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
