.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 68px;
    padding: 13px;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar .col {}

.navbar .col .logo_wrapper {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.navbar .col .navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar .col .navList.opacity {
    opacity: 0;
}