.wrapper {
    margin-top: 30vh;
}

.cover_image {
    margin: 100px 0;
    height: 90vh;
    width: 100vw;
    background-color: lightpink;
    border-radius: 0% 10% 10% 14% / 0% 10% 10% 16% ;
    position: relative;
    overflow: hidden;
    transition: all .6s ease;
}

.cover_image.slide {
    margin-left: 200px;
}

.text {
    margin-bottom: 12vh;
}

@media screen and (max-width: 820px) {
    .cover_image.slide {
        margin-left: 100px;
    }
}

@media screen and (max-width: 500px) {
    .cover_image.slide {
        margin-left: 0px;
    }
}