.wrapper {
    margin-top: 30vh;
}

.cover_image {
    margin: 100px 0;
    height: 90vh;
    width: 100vw;
    border-radius: 0% 0% 0% 32% / 10% 10% 6% 32% ;
    position: relative;
    overflow: hidden;
    transition: all .6s ease;
}

.cover_image .image {
    object-fit: cover;
}

.cover_image.slide {
    margin-left: 200px;
}

.project_link {
    color: var(--color-secondary);
    margin: 20px 0;
    text-decoration: underline;
    cursor: pointer;
}

.text {
    margin-bottom: 12vh;
}

@media screen and (max-width: 820px) {
    .cover_image.slide {
        margin-left: 100px;
    }
}

@media screen and (max-width: 500px) {
    .cover_image.slide {
        margin-left: 0px;
    }

    .cover_image {
        height: 300px;
        margin: 20px 0;
    }

    .cover_image .image {
        object-fit: cover;
    }
}